build
build-eclipse
.arc_jira_lib
.classpath*
.externalToolBuilders
.project
.settings
*.launch
*~
metastore_db
common/src/gen
.idea
*.iml
*.ipr
*.iws
*.swp
derby.log
datanucleus.log
.arc
target/
.DS_Store
patchprocess
**/.factorypath
**/.vscode
**/.settings

